{% extends 'base.html.twig' %}
{% block title %}Genus {{ user.name }}{% endblock %}
{% block body %}
    <h2 class="genus-name">{{ user.name }}</h2><a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
    <div class="sea-creature-container">
        <div class="genus-photo" style="background: url({{ asset('uploads/images/' ~ user.profileimage) }}"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Biography:</dt>
                <dd>{{ biography }}</dd>
                <dt>Number of Hobbies</dt>
                <dd>{{ recentHobbyCount }}</dd>
            </dl>
        </div>
    </div>

    <div id="js-notes-wrapper"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="{{ asset('js/hobbies.react.js') }}"></script>
    <script type="text/babel">
        var hobbiesUrl = '{{ path('user_show_hobbies', {'name': user.name}) }}';
        ReactDOM.render(
                <HobbySection url={hobbiesUrl} />,
                document.getElementById('js-notes-wrapper')
        );
    </script>
{% endblock %}